{
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "plugins": [
    "react",
    "prettier",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json",
    "jsx": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "prettier": [
      true,
      {
        "singleQuote": true,
        "semi": false,
        "trailingComma": "es5",
        "printWidth": 100
      }
    ]
  }
}
